<div class="parentCont">
  <div class="container-fluid" id="mainTop">
    <div class="row">
      <div class="col-md-12" id="main">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-12 textAlignCenter">
              <h3>E-Voting App</h3>
              <h4>CDAC Bangalore - March 2022</h4>
              <h5><u>Project Guide:</u> Mr. B.R. RaviKumar Sir</h5>
              <h5><u>Students of Group No. 48:</u><br /></h5>
              <h6 class="textAlignLeft" style="margin-left: 400px">
                1. 220351920015 ANIKET YASHWANT GHATE<br />
                2. 220351920040 JAY JAIN (Team Leader)<br />
                3. 220351920043 KIRTI DUBEY<br />
                4. 220351920088 SHARMA ASHUTOSH UMESHCHANDRA<br />
                5. 220351920100 SURYAWANSHI AKSHAY RAJENDRA
              </h6>

              <br />
              <div class="well">
                <h5>
                  <strong> <u>Vision and Design</u> </strong>
                </h5>

                <p style="text-align: justify">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  The vision of this project is to design generic Online-Voting
                  system that will provide support for election officials to
                  conduct an election (e.g. parliamentary, district, etc). This
                  system design support popular election systems primarily
                  winner takes all or proportional. If in case election
                  officials decide to choose proportional election model then
                  there is a threshold percentage votes to be achieved for a
                  party to gain membership in a parliament. More than a one
                  round of elections is possible. Additionally, the system shall
                  provide directions to voting stations. For winner takes all,
                  the election official can also select if the voter can select
                  preference for candidates. After election the least popular
                  candidate is dropped and votes re-assigned according to second
                  choices, and so on, until one candidate has a majority of
                  ballots. The election official will also be able to select
                  districts participating in election and will be able to update
                  the candidates. We have agreed that the program will be
                  developed in NodeJS, the frontend in Angular and database
                  would be MongoDB.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainBack" class="col-12">
    <img id="imageBack" src="../../../assets/elect-back.jpg" />
  </div>
</div>
