<div class="app-loading-img" *ngIf="loadingData"></div>

<div class="parentCont">
  <div id="mainTop">
    <div class="app-center">
      <div class="container">
        <div class="center-app">
          <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
              <div
                class="alert alert-danger"
                style="margin: 0 30px 0 30px"
                *ngIf="errorMessage"
              >
                {{ errorMessage }}
              </div>
              <img class="profile-img" src="assets/elect-logo.png" alt="" />
              <h1 class="text-center login-title">Register</h1>
              <br />
              <form
                class="form-signin"
                #registerForm="ngForm"
                (ngSubmit)="register()"
              >
                <input
                  type="text"
                  class="form-control form-elem"
                  placeholder="Email"
                  required
                  autofocus
                  [(ngModel)]="user.email"
                  name="email"
                />
                <input
                  type="password"
                  class="form-control form-elem"
                  placeholder="Password"
                  required
                  [(ngModel)]="user.password"
                  name="password"
                />
                <input
                  type="text"
                  class="form-control form-elem"
                  placeholder="City"
                  required
                  autofocus
                  [(ngModel)]="user.city"
                  name="city"
                />
                <button
                  class="btn btn-primary btn-block btn-color btn-cen"
                  type="submit"
                  [disabled]="registerForm.invalid"
                >
                  Sign up
                </button>
              </form>
              <a [routerLink]="['/login']" class="text-center new-account"
                >Already have an account? Login</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainBack" class="col-12">
    <img id="imageBack" src="../../../assets/elect-back.jpg" />
  </div>
</div>
